.youOweBox {
    position: relative;
    width: 300px;
    height: 125px;
    margin: 10px 50px 0px 26px;
    border-radius: 10px;
    float: left; /* Vurder, padding ble wierd med denne pA */
    background: #FF6B6B;
    color: #fff;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: start;
}

.youOwe {
    position: absolute;
    margin: 10px;
    top: 0%;
}

.youOweTotalText {
    position: absolute;
    margin: 10px;
    bottom: 0;
}

.youOweTotalNumbers {
    position: absolute;
    margin: 10px;
    right: 0;
    bottom: 0;
    /* 2*parent font size */
    font-size: 2em;
}